{% extends "preview_layout.html" %} {% from 'preview_macros.html' import
HeaderText, ProductShowcaseDescription, ProductVariantsTable %} {% block content
%}
<div class="bg-white min-h-screen pb-12">
  {{ HeaderText(page_heading, "") }} {% for group in product_groups %}
  <div class="mb-12">
    <h2 class="text-2xl font-bold px-4 lg:px-10 mb-4">{{ group.title }}</h2>

    {% set partNumbers = [] %} {% for variant in group.variants %} {% if
    variant.partNo230V != "-" and variant.partNo230V %} {% set _ =
    partNumbers.append(variant.partNo230V) %} {% elif variant.partNo400V != "-"
    and variant.partNo400V %} {% set _ = partNumbers.append(variant.partNo400V)
    %} {% else %} {% set _ = partNumbers.append("") %} {% endif %} {% endfor %}
    {{ ProductShowcaseDescription( images=group.images, title=group.title,
    description=group.description, partNumbers=partNumbers ) }} {{
    ProductVariantsTable(group.variants, group.title) }}
  </div>
  {% endfor %}
</div>
{% endblock %}
