---
import Layout from "../../../../layouts/Layout.astro";
import HeaderText from "../../../../components/HeaderText";
import SubHeading from "../../../../components/SubHeading";
import ProductCardCarousel from "../../../../components/ProductCardCarousel";
import ProductCardGrid from "../../../../components/ProductCardGrid";

{% for product in products %}
import product_img_{{ loop.index }} from "{{ product.image_url }}";
{% endfor %}

const products = [
  {% for product in products %}
  {
    name: "{{ product.name }}",
    description: "{{ product.description }}",
    imageUrl: product_img_{{ loop.index }}.src,
    targetPage: "{{ product.target_page }}",
  },
  {% endfor %}
];
---

<Layout>
  <HeaderText pageHeading="{{ page_heading }}" pageCaption="" />
  <div class="flex justify-center items-center py-15">
    <div class="flex flex-col max-w-sm md:max-w-lg sm:grid sm:grid-cols-3 lg:grid-cols-4 gap-2 justify-center items-center lg:max-w-4xl xl:max-w-7xl">
      {products.map((product) => (
        <ProductCardGrid
          productInfo={product}
        />
      ))}
    </div>
  </div>
</Layout>
